---
layout: style
---

.closure-banner {
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
}

.navbar-fixed-top {
    top: 40px; /* Adjust this value based on the height of your banner */
}

body {
    padding-top: 110px; /* Adjust this value to account for both the navbar and the banner */
}