<!-- About Section -->
<section class="success" id="about">
  <div class="container">
<!--    <div class="row">-->
<!--      <div class="col-lg-12 text-center">-->
<!--        <h2>About</h2>-->
<!--        <hr class="star-light">-->
<!--      </div>-->
<!--    </div>-->
    <div class="row about">
      <div class="col-lg-8 col-lg-offset-2">
        <p>De Galerij lijstenmakerij bestaat sinds 1976 en verzorgt lijstwerk voor zowel particulieren als bedrijven. In de loop van de jaren heeft De Galerij zich ontpopt als een specialist in het uitvoeren van ietwat gewaagde, veelal complexere, inlijstingen.
        </p>
        <p>
          Het inlijsten van oude, Japanse en decoratieve prenten behoort, gezien de nabijheid van het Spiegelkwartier, logischerwijze tot de kernactiviteiten van De Galerij. Daarbij kunt u rekenen op vakwerkondersteuning van een papierrestaurator en een olieverfrestaurator op museaal niveau.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <p>De Galerij steekt graag veel tijd in de honorering
          van al uw wensen op inlijstgebied en kan derhalve
          bogen op een goede prijs-kwaliteitverhouding.

          Kom eens langs voor een vrijblijvende afspraak
          of neem telefonisch contact op voor verdere
          informatie.</p>
      </div>
<!--      <div class="col-lg-8 col-lg-offset-2 text-center">-->
<!--        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">-->
<!--          <i class="fa fa-contact-card"></i> Meer Informatie-->
<!--        </a>-->
<!--      </div>-->
    </div>
  </div>
</section>


