<!-- About Section -->
<section id="about" class="success">
    <div class="container">
        <div class="row description">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Over ons</h2>
                </br>
                <hr class="hr-star">
                </br>
            </div>
        </div>
        <div class="row about">
            <div class="col-lg-8 col-lg-offset-2">
                <p class="text-justify">De Galerij lijstenmakerij bestaat sinds 1976 en verzorgt lijstwerk voor zowel
                    particulieren als bedrijven. In de loop van de jaren heeft De Galerij zich ontpopt als een
                    specialist in het uitvoeren van ietwat gewaagde, veelal complexere, inlijstingen.</p>
                <p class="text-justify">Het inlijsten van oude, Japanse en decoratieve prenten behoort, gezien de
                    nabijheid van het Spiegelkwartier, logischerwijze tot de kernactiviteiten van De Galerij. Daarbij
                    kunt u rekenen op vakwerkondersteuning van een papierrestaurator en een olieverfrestaurator op
                    museaal niveau.</p>
            </div>
        </div>
        <div class="row about">
            <div class="col-lg-5 col-lg-offset-2">
                <p class="text-justify">De Galerij steekt graag veel tijd in de honorering van al uw wensen op
                    inlijstgebied en kan derhalve bogen op een goede prijs-kwaliteitverhouding. Kom eens langs voor een
                    vrijblijvende afspraak of neem telefonisch contact op voor verdere informatie.</p>
            </div>
            <div class="col-lg-3 text-center">
                <img src="img/cees-bakker-2.jpg" height="140" width="240" alt="Cees Bakker aan het werk in de lijstenmakerij"
                     class="img-fluid rounded-circle mx-auto d-block">
            </div>
        </div>
    </div>
</section>




