<!-- Header -->
<header>
    <div class="container introduction">
        <div class="row">
            <div class="col-lg-12">
<!--                <img class="img-responsive d-md-none d-lg-block" src="img/logo.png" alt="profile-pic"/>-->

                <!-- Slideshow container -->
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <img src="img/portfolio/thumbnail0.png" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <img src="img/portfolio/thumbnail1.jpg" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <img src="img/portfolio/thumbnail2.png" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <img src="img/portfolio/thumbnail3.png" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <img src="img/portfolio/thumbnail4.png" style="width:100%">
                    </div>

                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>

            </div>
        </div>
    </div>
</header>

<style>
    img {
        max-height: 600px; /* Adjust this value as needed */
        object-fit: contain; /* This makes sure the images are resized correctly */
    }
</style>
<script src="js/slideshow.js"></script>