<!-- References Section -->
<section id="references" class="success">
    <div class="container">
        <div class="row description">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Referenties</h2>
                </br>
                <hr class="hr-star">
                </br>
            </div>
        </div>
        <div class="row description">
            <div class="col-lg-5 col-lg-offset-1">
                <p><strong>Herman Bunjes</strong></p>
                <p>Al vele jaren klant: "Omlijsten bij De Galerij is het inkaderen van goede smaak en kwaliteit."</p>

                <p><strong>Herman Speyart</strong></p>
                <p>Woont vlakbij de lijstenmakerij: "Het is altijd een genot om mooie prenten, schilderijen en foto's
                    door Cees te laten inlijsten. Natuurlijk zijn zijn lijsten tot in de puntjes verzorgd, maar zijn
                    meerwaarde ligt in het voortraject, bij het adviseren. Bij binnenhuisinrichting zijn het de details
                    die het verschil maken, en hij weet steeds, bij het aanbevelen van lijst, passe-partout en glas, net
                    die accenten te leggen die inderdaad dat verschil maken en het in te lijsten werk het beste tot zijn
                    recht laten komen."</p>
                <p><strong>Ewout Rasker</strong></p>
                <p>Klant vanaf het eerste uur: "Uw bezit in waarde verdubbeld!"</p>
            </div>
            <div class="col-lg-5 col-lg-offset-1">

                <p><strong>Johan Bosch van Rosenthal</strong></p>
                <p>Kunstkenner : "Cees Bakker van De Galerij is al vele jaren een prettige èn professionele partner als
                    het gaat om goede oplossingen voor passende en daarbij passende passe-partouts indien nodig. Hij
                    denkt op creatieve wijze mee in het proces van inlijsten en komt met originele suggesties. Wij en
                    onze cliènten komen steeds graag bij hem terug voor zijn vakwerk en punctualiteit."</p>

                <p><b>Dirk Meuleman, Amsterdam</b></p>
                <p>"Ik laat al jaren grafiek en foto's inlijsten door Cees Bakker. Hij is een échte vakman, die bereid
                    is mee te denken en altijd goed werk aflevert. De Galerij is wat mij betreft een begrip!"&nbsp;</p>
            </div>
        </div>
    </div>
</section>





